$borderColorBase: #dcdfe6;
$borderColorLight: #e4e7ed;
$borderColorLighter: #ebeef5;
$borderColorExtraLight: #f2f6fc;
$borderWidthBase: 1px;
$borderStyleBase: solid;
$borderBase: $borderWidthBase $borderStyleBase $borderColorBase;
$borderRadiusBase: 4px;
$borderRadiusSmall: 2px;
$borderRadiusRound: 20px;
$borderRadiusCircle: 100%;