$buttonPrimaryActiveColor: #3a8ee6;
$buttonSuccessActiveColor: #5daf34;
$buttonWarningActiveColor: #cf9236;
$buttonDangerActiveColor: #dd6161;
$buttonErrorActiveColor: #dd6161;
$buttonInfoActiveColor: #82848a;
