$colorPrimary: #409eff;
$colorPrimaryLight1: #53a8ff;
$colorPrimaryLight2: #66b1ff;
$colorPrimaryLight3: #79bbff;
$colorPrimaryLight4: #8cc5ff;
$colorPrimaryLight5: #a0cfff;
$colorPrimaryLight6: #b3d8ff;
$colorPrimaryLight7: #c6e2ff;
$colorPrimaryLight8: #d9ecff;
$colorPrimaryLight9: #ecf5ff;

$colorSuccess: #67c23a;
$colorSuccessLight1: #76c84e;
$colorSuccessLight2: #85ce61;
$colorSuccessLight3: #95d475;
$colorSuccessLight4: #a4da89;
$colorSuccessLight5: #b3e19d;
$colorSuccessLight6: #c2e7b0;
$colorSuccessLight7: #d1edc4;
$colorSuccessLight8: #e1f3d8;
$colorSuccessLight9: #f0f9eb;

$colorWarning: #e6a23c;
$colorWarningLight1: #e9ab50;
$colorWarningLight2: #ebb563;
$colorWarningLight3: #eebe77;
$colorWarningLight4: #f0c78a;
$colorWarningLight5: #f3d19e;
$colorWarningLight6: #f5dab1;
$colorWarningLight7: #f8e3c5;
$colorWarningLight8: #faecd8;
$colorWarningLight9: #fdf6ec;

$colorDanger: #f56c6c;
$colorDangerLight1: #f67b7b;
$colorDangerLight2: #f78989;
$colorDangerLight3: #f89898;
$colorDangerLight4: #f9a7a7;
$colorDangerLight5: #fab6b6;
$colorDangerLight6: #fbc4c4;
$colorDangerLight7: #fcd3d3;
$colorDangerLight8: #fde2e2;
$colorDangerLight9: #fef0f0;

$colorError: #f56c6c;
$colorErrorLight1: #f67b7b;
$colorErrorLight2: #f78989;
$colorErrorLight3: #f89898;
$colorErrorLight4: #f9a7a7;
$colorErrorLight5: #fab6b6;
$colorErrorLight6: #fbc4c4;
$colorErrorLight7: #fcd3d3;
$colorErrorLight8: #fde2e2;
$colorErrorLight9: #fef0f0;

$colorInfo: #909399;
$colorInfoLight1: #9b9ea3;
$colorInfoLight2: #a6a9ad;
$colorInfoLight3: #b1b3b8;
$colorInfoLight4: #bcbec2;
$colorInfoLight5: #c8c9cc;
$colorInfoLight6: #d3d4d6;
$colorInfoLight7: #dedfe0;
$colorInfoLight8: #e9e9eb;
$colorInfoLight9: #f4f4f5;

$colorWhite: #ffffff;
$fillBase: $colorWhite;
$colorBlack: #000000;
$popupModalBackgroundColor: $colorBlack;
$textColorPrimary: #303133;
$textColorRegular: #606266;
$textColorSecondary: #909399;
$textColorPlaceholder: #c0c4cc;
$borderColorHover: $textColorPlaceholder;
$backgroundColorBase: #f5f7fa;
$svgMonochromeGrey: #dcdde0;
$popupModalOpacity: 0.3;