$fontSizeExtraLarge: 20px;
$fontSizeLarge: 18px;
$fontSizeMedium: 16px;
$fontSizeBase: 14px;
$fontSizeSmall: 13px;
$fontSizeExtraSmall: 12px;
$fontWeightPrimary: 500;
$fontLineHeightPrimary: 24px;
$fontColorDisabledBase: #bbbbbb;